snippet include
	#include <${1:lib_name}>
snippet vfn
	void ${1:name}()
	{
		${2://body}
	}
snippet ifn
	int ${1:name}()
	{
		${2://body}
	}
snippet ffn
	float ${1:name}()
	{
		${2://body}
	}
snippet dfn
	double ${1:name}()
	{
		${2://body}
	}
snippet cfn
	char ${1:name}()
	{
		${2://body}
	}
snippet unstd
	using namespace std;
snippet rt
	return ${1:NULL};
