snippet defm
	defmodule ${1:Module} do
		${2}
	end
snippet def
	def ${1:function}(${2:args}) do
		${3}
	end
snippet puts
	IO.puts(${1:var})
snippet defwg
	def ${1:function}(${2:args}) with ${3:fun}(${4:args}) do
		${5}
	end

