snippet ngr
	ng-repeat="${1:user} in ${2:users}"
snippet ngc
	ng-click="${1}"
snippet ngi
	ng-init="${1}"
snippet ngm
	ng-model="${1}"
snippet ngct
	ng-controller="${1}"
snippet ngb
	ng-bind="${1}"
snippet ngdis
	ng-disabled="${1}"
snippet ngsh
	ng-shpw="${1}"
snippet nghd
	ng-hide="${1}"
snippet nghr
	ng-href="${1}"
snippet ngsr
	ng-src="${1}"
snippet ngcl
	ng-class="${1}"
snippet dwc
	<div class="${1}">${2}</div>
