snippet sout
	System.out.println(${1});
snippet psvm
	public static void main(String[] args) {
		${1:}
	}
snippet rt
	return ${1:null};
snippet lst
	List<${1:Object}> list = new ArrayList<${1:Object}>();
snippet imput
	import java.util.*;
snippet impjl
	import java.lang.*;
snippet imp
	import ${1:package};
snippet class
	class ${1:Name} {
		${2}
	}
